html, body, p {
    font-family: sans;
    font-size: 1em;
}

a {
    text-decoration: underline;
}

.switcher > a {
    text-decoration: none;
    color: black;
}

// .breadcrumbs > span > a {
//     text-decoration: none;
//     color: black;
// }
