html, body, p {
    font-family: sans;
    font-size: 1em;
}

a {
    text-decoration: underline;
}

.switcher > .selected{
    text-decoration: none !important;
    color: black;
    cursor: default;
}

.switcher > a.active{
    cursor: pointer;
}
